@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@100..900&family=Oswald:wght@200..700&display=swap');

body{
    margin: 0;
    /* background: url(img/fondo.png);
    height: 100px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover; */

    /* background-color: black; */
    background-color: #E9D331;
}

header{
    display: flex;
    min-height: 100px;
    background-image: url(img/cuadritos.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: "Oswald", sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 2;
}

a{
    text-decoration: none; /* Saca el subrallado de los "a" */
    color: white;
}

.productos{
    display: flex;          /*permite que los elementos se alineen de manera horizontal*/
    flex-wrap: wrap;        /*si los elementos exceden el limite, se hace un salto de linea en vez de cambiarles el tamaño*/
    justify-content: flex-start;        /*se posicionan al inicio del contenedor (x=0 y=0 (? )*/
    align-items: flex-start;        /*se alinean al inicio del contenedor (creo que en este caso da igual)*/
}

.logo{
    display: flex;
    align-items: center;
}

.logo-img{
    height: 100px;
    margin-right: 20px;
    margin-left: 20px;
}

nav a{
    font-weight: 600; /* Negritas */
    padding-right: 60px;
}

nav a:hover{
    color: black;
}

@media screen and (max-width: 700px) {
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}

.fondo{
    width: 100%;
}


/*H*/


.container {
    position: relative;         /*para que el posicionamiento de los hijos sea respecto a este elemento*/

    width: 420px;
    height: 420px;
    border-radius: 350px;
    border: 15px solid white;    

    perspective: 1000px;        /*da la sensacion de 3D*/

    border-radius: 50%;         /*para que sea un circulo*/
    background-color: #E9D331; 

    float: left;
    margin-right: 15px;  

    min-width: 420px;
    min-height: 420px;
}


.img-hamburguesa, .back {
    position: absolute;         /*posicionamiento absoluto pero dentro del container*/
    
    width: 100%;                /*abarcan todo el contenido del conteiner*/
    height: 100%;
    border-radius: 50%;
    backface-visibility: hidden;            /*para que al darse vuelta desaparezca y se vea el circulo naranja*/
    transition: transform 1s ease-in-out;       /*duracion de la animacion*/
}
  
.img-hamburguesa {
    z-index: 1;
}
  
.back {
    text-align: center;
    color: white;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
  
.container:hover .img-hamburguesa {
    transform: rotateY(180deg);             /*al pasar el mouse por encima se rota 180°*/
}
  
.price{
    position: absolute;             /* posicionamiento absoluto pero dentro del container */
    top: 20%;
    left: 50%;                      /* centrar horizontalmente */
    transform: translateX(-50%);    /* centrar horizontalmente */ 
    font-family: "Oswald", sans-serif;
    color: black;
    font-size: 3.5rem;
    font-weight: 500;
}

.cart{
    position: absolute;               /* posicionamiento absoluto pero dentro del container */
    bottom: 10%;
    left: 50%;                          /* centrar horizontalmente */ 
    transform: translateX(-50%);        /* centrar horizontalmente */ 
    color: white;
    background-color: rgb(0, 0, 0);
    font-family: "Oswald", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5rem;
    border-radius: 30%;
}


.nombre{
    margin-top: 150px;
    font-size: 75px;
    font-family: "Big Shoulders Stencil Text", sans-serif;
    margin-bottom: 40px;
}


.ingredientes{
    font-size: 25px;
    font-weight: 500;
    font-family: "Oswald", sans-serif;
    text-align: center;
    
}


/*H1*/


.hamburguesa-1{
    display: flex;
    margin: 0px auto;
    width: 80%;
}

.hamburguesa-1 div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hamburguesa-1 .nombre{
    margin-top: 80px;
}


/*H2*/


.hamburguesa-2{
    display: flex;
    background-image: url(img/fondo-2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.hamburguesa-2 .container{
    background-color: rgb(0, 0, 0);
    margin-left: 15px;
    margin-right: 100px;
}


.hamburguesa-2 .cart{
    background-color: #E9D331;
}

.hamburguesa-2 .price{
    color: white;
}

.hamburguesa-2 div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hamburguesa-2 .ingredientes{
    width: 50%;
    color: white;
}


.hamburguesa-2 .nombre{
    margin-right: 0px;
    color: white;
}





.aperitivos-extras{
    display: flex;
    justify-content: center;
}

.extras{
    width: 400px;
}

.aperitivos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.papas-fritas-img{
    width: 400px;
}

.papas-cheddar.img{
    width: 400px;
}

.coca-cola-img{
    width: 120px;
    display: block;
    margin: 0 auto;
}

.sprite-img{
    width: 120px;
    display: block;
    margin: 0 auto;
}

.aperitivos h2{
    text-align: center;
}